/* color h2 #212121 */
/* color text #757575 */
/* blue color #2196F3 */
/* white color #FFFFFF */
/* color studio #000000 #FFFFFF*/

/* bg color #F5F5F5 */
/* bg color hero #2F303A */

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

:root {
	--main-color-title: #212121;
	--main-color-text: #757575;
	--color-blue: #2196f3;
	--color-white: #ffffff;
	--hover-button: #188ce8;
	--bg-color-dark: #2f303a;
	--bg-color-grey: #f5f5f5;
	--color-black: #000000;
	--bg-color-cards: #f5f4fa;
	--border-cards-color: #eeeeee;
	--social-icon-color: #afb1b8;
}

body {
	color: var(--main-color-title);
	background-color: var(--color-white);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.17;
	letter-spacing: 0.03em;
}
a {
	text-decoration: none;
	letter-spacing: 0.03em;
}
ul,
ol {
	list-style: none;
	margin-top: 0;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	margin-top: 0;
	margin-bottom: 0;
}
img {
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}
button {
	cursor: pointer;
}
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
p {
	margin: 0;
	padding: 0;
}
/* header */
header {
	padding-top: 24px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ececec;
}
.main-header {
	display: flex;
	align-items: center;
}
.nav-link-active {
	color: var(--color-blue);
	position: relative;
}
.nav-link {
	position: relative;
}
.nav-link-active::after {
	content: "";
	display: block;
	align-items: center;
	position: absolute;
	top: 46px;
	width: 100%;
	height: 4px;
	border: 1px solid var(--color-blue);
	border-radius: 2px;
	background-color: var(--color-blue);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background-color, border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link::after {
	content: "";
	/* display: block;
	align-items: center;
	position: absolute;
	top: 46px;
	width: 100%;
	height: 4px;
	border: 1px solid var(--color-blue);
	border-radius: 2px;
	background-color: var(--color-blue); */
	transform: scaleX(0);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after {
	content: "";
	display: block;
	align-items: center;
	position: absolute;
	top: 46px;
	width: 100%;
	height: 4px;
	border: 1px solid var(--color-blue);
	border-radius: 2px;
	background-color: var(--color-blue);
	transform: scaleX(1);
}
ul {
	list-style: none;
}
.logo {
	color: var(--color-blue);
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
}
.studio-general {
	color: var(--color-black);
}
.main-nav {
	display: flex;
	gap: 93px;
}
.menu-navigation {
	display: flex;
	gap: 50px;
	align-items: center;
}
.main-nav a {
	font-weight: 500;
	letter-spacing: 0.02em;
}
.nav-link {
	color: var(--main-color-title);
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--color-blue);
}
.contact-info {
	display: flex;
	gap: 50px;
	margin-left: auto;
}
.contact-info a {
	font-weight: 500;
	letter-spacing: 0.02em;
}

.contact-mail {
	color: var(--main-color-text);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-mail {
	fill: currentColor;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-mail:hover {
	fill: currentColor;
}
.contact-mail:hover,
.contact-mail:focus {
	color: var(--color-blue);
}

.contact-phone {
	color: var(--main-color-text);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-phone:hover,
.contact-phone:focus {
	color: var(--color-blue);
}

.svg-phone {
	fill: currentColor;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-phone:hover {
	fill: currentColor;
}
/* main */

/* hero */

.hero {
	background-color: var(--bg-color-dark);
	text-align: center;
	padding: 200px 0 200px 0;
	max-width: 1600px;
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../images/bg-image.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
}

.hero-title {
	color: var(--color-white);
	font-size: 44px;
	font-weight: 900;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	max-width: 696px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.general-button {
	font-family: inherit;
	color: var(--color-white);
	background-color: var(--color-blue);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	text-align: center;
	border: none;
	border-radius: 4px;
	min-width: 216px;
	padding: 10px 0;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.general-button:hover,
.general-button:focus {
	background-color: var(--hover-button);
}

/* section 1 */
.benefits {
	padding: 94px 0;
}
.title {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.16;
	text-align: center;
	margin-bottom: 50px;
}
.benefits__list {
	display: flex;
}
.benefits__list--position {
	margin-top: 0;
	margin-bottom: 0;
	gap: 30px;
}
.benefits__item {
	width: calc((100% - 90px) / 4);
}
.benefits__item::before {
	content: "";
	display: block;
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--bg-color-cards);
	height: 120px;
	margin-bottom: 30px;
}
.benefits__item--antenna::before {
	background-image: url(../images/icons/antenna.svg);
}
.benefits__item--clock::before {
	background-image: url(../images/icons/clock.svg);
}
.benefits__item--diagram::before {
	background-image: url(../images/icons/diagram.svg);
}
.benefits__item--astronaut::before {
	background-image: url(../images/icons/astronaut.svg);
}
.benefits__subtitle {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.71;
	margin-bottom: 10px;
}

.benefits__text {
	color: var(--main-color-text);
	line-height: 1.71;
	margin: 0;
}
/* what we do pics */
.works-section {
	padding-bottom: 94px;
}
.what-we-do-list {
	display: flex;
	gap: 30px;
	padding: 0;
	justify-content: center;
}
.what-we-do-list li {
	width: calc((100%-60px) / 3);
}
.what-we-do-list img {
	display: block;
	padding: 0;
	margin: 0;
}
.thumb {
	position: relative;
}
.what-we-do-about {
	/* position: absolute; */
	/* bottom: 0;
	width: 100%; */
}
.what-we-do-about {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 27px 0;
	background-color: rgba(47, 48, 58, 0.8);
}
.thumb p {
	color: var(--color-white);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
/* team section */
.team {
	padding: 94px 0;
	background-color: var(--bg-color-cards);
}
.team__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.team__card {
	padding-bottom: 30px;
	background-color: var(--color-white);
	width: calc((100% - 90px) / 4);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team__name {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.18;
	margin: 30px 0px 10px 0px;
	text-align: center;
}

.team__list p {
	color: var(--main-color-text);
	font-size: 16px;
	line-height: 1.18;
	margin-bottom: 16px;
	text-align: center;
}
.social-links {
	display: flex;
	margin: 0 auto;
	gap: 10px;
	padding: 0 32px;
}
.social-link {
	width: 44px;
	height: 44px;
	color: var(--color-white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
	background-color: var(--color-blue);
}
.svg-instagram {
	fill: var(--social-icon-color);

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-instagram:hover,
.svg-instagram:focus {
	fill: currentColor;
}
.social-link:hover .svg-instagram,
.social-link:focus .svg-instagram {
	fill: currentColor;
}
/* clients */
.clients {
	padding: 94px 0;
}
.title {
	margin-bottom: 50px;
}
.clients-cards {
	display: flex;
	gap: 30px;
	margin: 0 auto;
}
.clients-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 92px;
	border: 1px solid var(--social-icon-color);
	border-radius: 4px;
	width: calc((100%- 200px) / 6);

	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo {
	fill: var(--social-icon-color);

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon:hover,
.clients-icon:focus {
	border: 1px solid var(--color-blue);
}
.clients-icon:hover .logo,
.clients-icon:focus .logo {
	fill: currentColor;
}
/* portfolio */
.portfolio-section {
	padding: 94px 0;
}
.filters {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}
.button-filter {
	color: var(--main-color-title);
	background-color: var(--bg-color-cards);
	font-family: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.62;
	text-align: center;
	border-radius: 4px;
	border: none;
	padding: 6px 22px;
	flex-basis: calc(100% / 5 - 32px);

	transition-property: background-color, box-shadow, color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:hover,
.button-filter:focus {
	background-color: var(--color-blue);
	color: var(--color-white);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.examples-item {
	width: calc((100% - 60px) / 3);
}
.examples-item-link {
	display: block;

	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	overflow: hidden;
}
.examples-item-link:hover,
.examples-item-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-tumb {
	position: relative;
	overflow: hidden;
}
.examples-item-link:hover .examples-overlay {
	transform: translateY(0);
}
.examples-overlay {
	position: absolute;
	top: 0;
	padding: 63px 24px;
	height: 100%;
	width: 100%;
	background-color: rgba(33, 150, 243, 0.9);

	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	overflow: auto;
}
.examples-overlay-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.55;
	color: var(--color-white);
}
.examples-item-about {
	border: 1px solid var(--border-cards-color);
	border-top: none;
	padding: 20px 24px;
}
.examples-title {
	margin-bottom: 4px;
}
.examples h2 {
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
}
.examples-item-about p {
	color: var(--main-color-text);
	font-size: 16px;
	line-height: 1.875;
	margin: 0;
}
.examples a {
	color: inherit;
}

/* footer */

footer {
	background-color: #2f303a;
	padding: 60px 0;
}
.footer-second-group {
		display: flex;
	align-items: baseline;
	gap: 70px;
}
.footer {
	display: flex;
	align-items: baseline;
	gap: 93px;
}
.contact-info-footer {
	font-style: normal;
	line-height: 1.71;
}
.logo-footer {
	display: block;
	margin-bottom: 20px;
}
.contact-info-footer a:hover,
.contact-info-footer a:focus {
	color: var(--color-blue);
}
.location {
	color: var(--color-white);
}

.studio-footer {
	color: var(--color-white);
}

.contact-footer {
	color: rgba(255, 255, 255, 0.6);
}
.contact-item-footer:not(:last-child) {
	margin-bottom: 10px;
}
.join-us-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--color-white);
	margin-bottom: 20px;
}
.social-links-footer {
	display: flex;
	margin: 0 auto;
	gap: 10px;
}
.social-link-footer {
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--color-white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
	background-color: var(--color-blue);
}
.svg-footer {
	fill: var(--color-white);

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-footer:hover,
.svg-footer:focus {
	fill: currentColor;
}

.form-wrapper {
}
.sub-label {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--color-white);
	margin-bottom: 20px;
	display: block;
}
.input-wrapper-sub {
	display: flex;
	gap: 12px;
}
.sub-input {
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline-color: transparent;
	background-color: transparent;
	padding: 15px 16px;
	color: rgba(255, 255, 255, 0.6);;
}
.sub-input::placeholder {
	color: rgba(255, 255, 255, 0.6);
}
.sub-button {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.sub-icon {
	fill: var(--color-white);

}

/* backdrop */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0);
}
.modal {
	width: 528px;
	height: 581px;
	padding: 40px;
	background-color: var(--color-white);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: 0;
}
.modal-button {
	width: 30px;
	height: 30px;
	padding: 6px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: transparent;
	position: absolute;
	right: 8px;
	top: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-button:hover .modal-esc-symbol,
.modal-button:focus .modal-esc-symbol{
	fill: var(--color-blue);
}
.modal-esc-symbol {
	fill: var(--color-black);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
}
.modal-form h2 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	color: var(--main-color-title);
	margin-bottom: 12px;
}
.modal-field {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 10px;
}
.modal-label {
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--main-color-text);
}
.modal-input {
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: transparent;
	width: 100%;
	padding-left: 42px;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
	position: relative;
}
.input-icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
	resize: none;
	height: 120px;
	padding: 12px 16px;
}
.modal-comment::placeholder {
	color: rgba(117, 117, 117, 0.5);
}
.checkbox-wrapper {
	margin: 20px 0 30px 0;
}
.check-label {
	font-size: 14px;
	line-height: 1.71;
	color: var(--main-color-text);
	display: flex;
	justify-content: center;
	align-items: center;
}
.check-label a {
	color: var(--color-blue);
	text-decoration-line: underline;
	text-underline-offset: 3px;
}
.check-label::before {
	content: "";
	margin-right: 15px;
	width: 16px;
	height: 15px;
	border: 2px solid var(--main-color-title);
	border-radius: 2px;
	background-color: transparent;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-label::before {
	background-image: url(../images/icons/Vector.svg);
	background-size: cover;
	background-position: center;
	background-color: var(--color-blue);
	border-color: var(--color-blue);
}

.modal-input:focus + .input-icon {
	fill: var(--color-blue);
}

.modal-input:focus {
	border-color: var(--color-blue);
}

.submit-button {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	display: block;
	margin: 0 auto;
}
