.clients {
	padding: 94px 0;
}

.clients__cards {
	display: flex;
	gap: 30px;
	margin: 0 auto;
}

.clients__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 92px;
	border: 1px solid var(--social-icon-color);
	border-radius: 4px;
	width: calc((100% - 200px) / 6);

	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo {
	fill: var(--social-icon-color);

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover,
.clients__icon:focus {
	border: 1px solid var(--color-blue);
}

.clients__icon:hover .logo,
.clients__icon:focus .logo {
	fill: currentColor;
}