.hero {
	background-color: var(--bg-color-dark);
	text-align: center;
	padding: 200px 0 200px 0;
	max-width: 1600px;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)),
		url(../images/bg-image.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
}

.hero-title {
	color: var(--color-white);
	@include fs(50px, 900, 1.36, 0.06em);
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	max-width: 696px;
	margin: 0 auto;
	margin-bottom: 30px;
}